<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user_a.username %>, your trade offer for your <%= @request.pokemon.name %> has expired.</h2>
    <p>
      If you would like to post a new trade, <a href="http://poke-connector.herokuapp.com/">follow this link</a>
    </p>
  </body>
</html>
