@import "*";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

$light-red: #ffaaaa;
$dark-red: #e07373;
$deep-red: #bf4545;
$red-border: #d46a6a;
$orange: #ef822c;
$blue: #1e7497;
$deep-blue: #0a4054;
$pale-orange: #f0b35b;
$burnt-red: #cc5242;
$pale-yellow: #efdd7b;
$primary: #ffc79a;
$pale-red: #802115;
$pale-blue: #a0b3bb;
$white: #ffffff;
$black: #000000;
$grey: #d3d3d3;

.search { position: relative; }
.search input { text-indent: 6%;}
.search .fa-search {
  color: $grey;
  position: absolute;
  left: 27.10%;
  top: 15px;
  font-size: 15px;
}


body {
  background-color: $primary;
}

a {
  color: $blue;

  &:hover {
    color: $deep-blue;
  }
}

hr {
  border-color: $burnt-red;
  margin: 0.5rem;
  margin-left: 0;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  color: $deep-blue;
  margin-bottom: 0;
}

h5 {
  font-size: 0.8rem;
}

strong {
  display: inline;
}

textarea {
  height: 10rem;
}

.button {
  background-color: $pale-orange;
  color: $blue;
  margin-bottom: 0;

  &.danger {
    background-color: $dark-red;
    color: $white;

    &:focus {
      background-color: $deep-red;
    }

    &:hover {
      background-color: $deep-red;
    }
  }

  &.disabled {
    color: $blue;

    &:hover {
      background-color: $pale-yellow;
      color: $black;
    }

    &:focus {
      background-color: $pale-yellow;
      color: $black;
    }
  }

  &:hover {
    background-color: $pale-yellow;
    color: $deep-blue;
  }

  &:focus {
    background-color: $pale-yellow;
    color: $deep-blue;
  }
}

.button-row {
  background-color: $pale-orange;
}

.callout {
  padding: 0.5rem;
}

.big-pokediv {
  height: 20rem;
  overflow: hidden;
}

.danger-zone {
  background-color: $light-red;
  border: 2px solid $red-border;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;

  h5 {
    margin-top: -0.5rem;
  }
}

.featured {
  height: 10rem;
}

.flash-bar {
  background-color: $pale-red;
  border-bottom: 0.5rem solid $burnt-red;
  color: $white;
}

.footer {
  background-color: $orange;
  height: 5rem;
}

.home-bar {
  background-color: $pale-orange;
  text-align: center;
}

.home-barrier {
  border-bottom: 0.5rem solid $burnt-red;
}

.iv {
  margin-left: 1rem;
  margin-right: 1rem;
}

.inline {
  display: inline;
}

.nav-bar {
  background-color: $orange;
  border-bottom: 0.5rem solid $burnt-red;
  padding-bottom: 1rem;
}

.page-head {
  background-color: $orange;
}

.pokediv {
  // height: 15rem;
  margin: 0.1rem;
  overflow: hidden;
  width: 30%;
}

.poke-name {
  bottom: 0;
  margin-left: -0.5rem;
  position: absolute;
  width: 100%;
}

.poke-sprite {
  height: 60%;
  overflow: hidden;
  width: auto;
}

.row {
  margin: 0;
}

.search-input {
  margin-top: 0.3rem;
  width: 50%;
}

.search-bar {
  background-color: $pale-orange;
  height: 3rem;
  margin-bottom: 2rem;
}

.small-pokediv {
  height: 10rem;
  overflow: hidden;
  margin: 1rem;
}

.small-poke-sprite {
  height: 100%;
  overflow: hidden;
  width: auto;
}

.submit-zone {
  margin-top: 2rem;
}

.trade-bar {
  background-color: $burnt-red;
  padding-left: 2rem;
}

// =============================

#error_explanation {
  background-color: $light-red;
  border: 2px solid $red-border;
  border-radius: 1rem;
  color: $white;
  margin: 0 2rem 2rem;
  padding: 1rem;
}
