@import "*";

hr {
  margin: 0.5rem;
}

h4, h5 {
  margin-bottom: 0;
}

textarea {
  height: 10rem;
}

.big-pokediv {
  height: 20rem;
  overflow: hidden;
}

.iv {
  margin-left: 1rem;
  margin-right: 1rem;
}

.inline {
  display: inline;
}

.pokediv {
  margin: 0.1rem;
  height: 15rem;
  width: 30%;
  overflow: hidden;
}

.poke-name {
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
  bottom: 0;
}

.poke-sprite {
  height: 60%;
  width: auto;
  overflow: hidden;
}

.small-pokediv {
  height: 10rem;
  overflow: hidden;
}

.small-poke-sprite {
  height: 100%;
  width: auto;
  overflow: hidden;
}
