<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user_a.username %>, <%= @user_b.username %> accepted your trade request!</h2>

    <p>
      <%= @user_b.username %>'s Friend Code is <%= @user_b.friend_code %>.
    </p>
    <p>
      Add them in game to start trading!
    </p>
  </body>
</html>
